<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Pszów parish website tests">
    <suite-files>
        <suite-file path="mainMenu.xml"/>
        <suite-file path="sideMenu.xml"/>
        <suite-file path="mediaIcons.xml"/>
        <suite-file path="searchEngine.xml"/>
        <suite-file path="photoGalleryPage.xml"/>
        <suite-file path="cookies.xml"/>
    </suite-files>
</suite>


